*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
    }
::-webkit-scrollbar {
    display: none;
}

nav{
    position: fixed;
    top: 0;
    z-index: 100;
    right: 0;
    left:0;
   }
.navbar{
    background-color: #9adff4;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px #bbd0e2;
    padding: 10px 30px;
    height: 125px;
    width: 100%;
   }
#logo{
    display: flex;
    height: 75px;
    width: auto;
    cursor: pointer;    
}
#webname{
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1978A5;
    font-size: 50px;
}
#login{
    display: flex;
    align-items: center;
}
#login button{
    position: relative;
    border: none;
    transition: 0.4s ease-in;
    margin: 2px;
    z-index: 1;
    padding: 10px 20px;
    border-radius: 10px;
}
#login button:hover{
    cursor: pointer;
    background: #1f8bca;
    box-shadow: 0 0 5px #1f8bca, 0 0 25px #1f8bca, 0 0 50px #1f8bca, 0 0 200px #1f8bca;
}
#content{
    margin: auto;
}
.contain{
    display: flex;
    justify-content: center;
}
#clubbodych{
    padding: 5%;
    background-color: #f3efc6;
}
.titlecardch{ 
    background-color: #fc0404;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    height: 60px;
}
.socials{
    margin: auto;
    margin-top: 60px;
    max-width: 320px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}
.h1{
   margin: 2px;
   margin-top: 8%;
}
.h2{
    height: auto;
    width: 60%;
    float: left;
    padding: 2%;
    margin:5%;
    border-left: #e00a0a solid 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    line-height: 100%;
}
@media screen and (max-width: 820px) {
    #content{
        margin-top: 25%;
    }
    .contain{
        flex-direction: column;
        margin-top: 8%;
    }
    .h1{
        margin: auto;
    }
    .h2{
        margin: auto;
        margin-top: 8%;
        width: 95vw;
    }
    #webname{
        font-size: 40px;
    }
}
@media screen and (max-width:390px){
    #content{
        margin-top: 35%;
    }
    .h1{
        margin: auto;
    }
    .h2{
        margin: auto;
        margin-top: 8%;
        width: 95vw;
    }
    #webname{
        font-size: 30px;
    }
}
